<div id="sidebar" class="span3">
  <%#= render partial: 'shared/side_navbar' %> 
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <h1>Collection: New</h1>
  
  <%= render 'form' %>
  
  <%= link_to 'Back', collections_path %>

</div>

