<div id="sidebar" class="span3">
  <%= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  
  <h4>Credits</h4>
  
  <p>
    Icons for this site were found at
    <a href="http://thenounproject.com">The Noun Project</a>
    and include creations by John Caserta, Bernar Novalyi, OfcaPL,
    Thi Diea Linh, and Yamini Chandra.
  </p>
    
</div>