<h1>SiblingPopup#show</h1>
<p>Find me in app/views/sibling_popup/show.html.erb</p>

<form>
  Add a
  <select>
    <option disabled='disabled' selected='selected'>Select</option>
    <% ObjectProfile.each do |name, profile| %>
      <option value='<%= name %>'><%= name %></option>
    <% end %>
  </select>
  sibling.
  <!--
    render `something`/_form
    -->
    <input type='submit' value='before'>Add before this</input>
    <input type='submit' value='after'>Add after this</input>
    <input type='submit' value='cancel' onclick='window.close()'>Cancel</button>
</form>
