<% @title = 'Create a new sibling'%>
<h1><%= @title%></h1>

<form>
  Add a
  <select id='objectType'>
    <option disabled='disabled' selected='selected'>Select</option>
    <% ObjectProfile.each do |name, profile| %>
      <option value='<%= name %>'><%= name %></option>
    <% end %>
  </select>
  sibling.

  <div>
    <input type='submit' value='Add before this'
           onclick='redirect_parent(selected, this.parent, this.prev_sib, this); window.close();'/> // What's "this"? "selected"?
    <input type='submit' value='Add after this'
           onclick='redirect_parent(selected, this.parent, this, this.next_sib); window.close();'/>
    <input type='submit' value='Cancel' onclick='window.close();'/>
  </div>

</form>
