<% @title = 'Create a new sibling'%>
<h1><%= @title%></h1>

<form>
  Add a
  <select>
    <option disabled='disabled' selected='selected'>Select</option>
    <% ObjectProfile.each do |name, profile| %>
      <option value='<%= name %>'><%= name %></option>
    <% end %>
  </select>
  sibling.
  <!-- render `something`/_form -->
  <div>
    <input type='submit' name='before' value='Add before this'/>
    <input type='submit' name='after'  value='Add after this'/>
    <input type='submit' name='cancel' value='Cancel' onclick='window.close()'/>
  </div>
</form>
