<!-- BEGIN INDIANA UNIVERSITY FOOTER -->
<div id="footer" role="contentinfo">
    <div class="wrapper">
        <p class="copyright">
            <a href="http://www.iu.edu/" class="block-iu"><img src="/assets/iu_branding/block-iu.png" height="26" width="22" alt="Block IU" /></a> 
            <span class="line-break">
                <a href="http://www.iu.edu/copyright/index.shtml">Copyright</a> &#169; 
                2015
            </span> 
            <span class="line-break">The Trustees of <a href="http://www.iu.edu/">Indiana University</a>,</span> 
            <span class="line-break"><a href="http://www.iu.edu/copyright/complaints.shtml">Copyright Complaints</a>,</span>
            <span class="line-break"><a href="/credits">Site Credits</a></span>
        </p>
    </div>
</div>
<!-- END INDIANA UNIVERSITY FOOTER -->