  <!-- BEGIN INDIANA UNIVERSITY BRANDING BAR -->
  <div id="branding-bar">
      <div class="bar">
          <div class="wrapper"> 
              <p class="campus">
                  <a href="http://www.iu.edu/">
                      <img src="/assets/iu_branding/trident-tab.gif" height="73" width="64" alt=" " />
                      <!-- Campus Goes Here -->
                  </a>
              </p>
              <div>
                <%= render :partial=>'/shared/user_util_links' %>                  
              </div>
          </div>
      </div>
  </div>
  <!-- END INDIANA UNIVERSITY BRANDING BAR -->  

