<div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
	<div class="bar">
		<div class="wrapper">
			<h1 class="campus">
				<a href="http://www.iu.edu" title="Indiana University">
					<img src="//assets.iu.edu/brand/1.x/trident-tab.gif" height="73" width="64" alt=" " />
					<span class="show-on-desktop" itemprop="name">Indiana University</span>
					<span class="show-on-tablet" itemprop="name">Indiana University</span>
					<span class="show-on-mobile" itemprop="name">Indiana University</span>
				</a>
			</h1>
		</div>
	</div>
</div>
