<%#
  Copyright 2014 Indiana University
%>

<div class="sidenav pmp-sidenav">
<!--
  <h4 data-toggle="collapse" data-target=".pmp-collapse">
    <a class="btn btn-navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>  
    Navigation
  </h4>
  <div class="pmp-collapse pmp-sidenav-links">
    <h5 class="twiddle">
      <%= link_to 'Home', '/' %>
      <i class="icon-chevron"></i>
    </h5>
    <h5 class="twiddle">
      <%= link_to 'Browse', pageds_path %>
      <i class="icon-chevron"></i>
    </h5>
  </div>
-->
</div>
