<%#
  Copyright 2014 Indiana University
%>

<div id="pmp-sidenav" class="sidenav">
  <h4>Navigation</h4>
  <div class="pmp-sidenav-links">
    <h5 class="twiddle">
      <%= link_to 'Home', '/' %>
      <i class="icon-chevron"></i>
    </h5>
    <h5 class="twiddle">
      <%= link_to 'Browse', pageds_path %>
      <i class="icon-chevron"></i>
    </h5>
  </div>
</div>
