<%#
  Copyright 2014 Indiana University
%>

<style type='text/css'>
  .side_navbar {
    list-style-type: none;
    border: 1px solid;
    margin: 0;
    padding: 2em;
    padding-bottom: 1em;
    }
</style>

<ul class='side_navbar'>
  <li>
  <%= button_to 'Browse', pageds_path, :class=> {id: 'side_nav_browse'}, :method=> :get %>
  </li>
</ul>
