<div id="reorder_pages_container">
  <p><strong>Structure</strong><p>
  <p>Drag pages to reorder them.</p>
  <div style="clear:right"></div>
  <div id="reorder_pages">
    <%= form_for(@paged, url: { action: :reorder }) do |f| %>
      <ol id="sortable_pages" class="sortable_pages ol_drag">
        <% @paged.order_child_objects[0].each do |child| %>
          <%= render partial: 'reorder_section', locals: { child: child } %>
        <% end %>
      </ol>
      <input id="reorder_submission" name="reorder_submission" type="hidden" value="">
      <%= f.submit "Save", :class => 'save_submit sortable_save' %> 
    <% end %>
  </div>
</div>
