<div id="reorder_pages_container">
  <p><strong>Current Page Order</strong><p>
  <p>Drag and Drop pages to reorder them.</p>
  <div id="reorder_pages">
    <%= form_for(@paged, url: { action: :reorder }) do |f| %>
      <ol id="sortable_pages" class="sortable_pages">
      <% @paged.order_child_objects[0].each do |child| %>
        <%= render partial: 'reorder_section', locals: { child: child } %>
      <% end %>
      </ol>
      <input id="reorder_submission" name="reorder_submission" type="hidden" value="">
      <%= f.submit "Save Reordered Pages" %>
    <% end %>
  </div>
</div>
