<div id="sidebar" class="span3">
  <%#= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <h3>Description</h3>
  
  <%= render 'form' %>
  <%= render partial: 'reorder_pages', locals: { paged: @paged, ordered: @ordered } %>
  
  
  
</div>
