<div id="sidebar" class="span3">
  <%#= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <h1>Page: Edit </h1>
  
  <%= render 'form' %>

  <%= link_to 'Show', href: page_path(@page), title: 'Show' do %>
    <i class='fa fa-eye fa-2x'></i>
  <% end %> |
  <%= link_to 'Back', href: pages_path(), title: 'Back' do %>
    <i class='fa fa-hand-o-left fa-2x'></i>
  <% end %>
</div>
