<div style='font-size: 120%;'>
  <strong><%= t(:application_name, scope: :blacklight) %></strong>
    houses paged media collections.<br/>

  Use the search box, or browse using the terms on the left side to
  discover content.  Some content is only available when you
  <a class='inline' href='users/sign_in'>sign&nbsp;in</a>
  with your ID and passphrase.
</div>
