// Place all the styles related to the Pageds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
 * Drag and Drop Reorder styles
 */

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.ol_drag li.li_drag {
  /*position: relative;*/
  cursor: pointer;
  background: #eeeeee none repeat scroll 0 0;
  border: 1px solid #cccccc;
  color: #0088cc;
  display: block;
  margin: 5px;
  padding: 5px;
}

ol.ol_drag li.placeholder{
  background-color: red;
  height:5px;
  margin-bottom: -5px;
  margin-top: -5px;
}

ol.ol_drag li.li_drag:before {
  position: absolute;
}

ol.ol_drag li:first-child{
  margin-top:10px;
}

/*
 * Holding Pen
 * for Drag and Drop ordering
 */

div#holding_pen{
  display: none;
}

@media only screen and (min-width: 769px){
  div#holding_pen{
    width: auto;
    bottom: auto;
    display: block;
    position: fixed;
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #cccccc;
    padding: 0 10px;
  }
}

div#holding_pen ol li{
  list-style: none;
}

/*
 * Paged Show view
 */

div.pmp_paged_info{
  float:left;
}

div.pmp_paged_info ul{
  padding: 0;
  margin: 0 0 10px 0;
  list-style-type: none;
}

div.pmp_paged_info ul li{
  list-style: none;
  
}

/*
 * Paged Edit and Create forms
 * (should match styles for page forms)
 */

form#new_paged ol li,
form.edit_paged ol li,
form#add_page ol li,
form#add_section ol li{
  list-style: none;
}

form#new_paged label,
form.edit_paged label,
form#add_page label,
form#add_section label,
span.form_label{
  text-align:right;
  padding-right:15px;
  float: left;
  font-size: 13px;
  font-weight: normal;
  width: 160px;
}

form#new_paged input[type="file"],
form.edit_paged input[type="file"],
form#add_page input[type="file"]{
  height:inherit;
  line-height:inherit;
}

form#new_paged span.form_field,
form#add_page span.form_field,
form.edit_paged span.form_field{
  display:block;
  padding-bottom: 15px;
}

.paged_submit{
  padding-top:50px;
}

/*
 * Add Page and Section partial styles
 */

form#add_page label,
form#add_section label{
  text-align:right;
  padding-right:15px;
  float: left;
  font-size: 11px;
  font-weight: normal;
  width: 100px;
}

form#add_page input,
form#add_section input{
  width:100px;
}

.add-page-save,
.add-section-save{
  clear:both;
  padding-left:20%;
  margin-top:25px;
}

/*
 * Tables in paged show
 */

#paged-show-table, #paged-pages-table{
  width:100%;
  text-align:center;
}
#paged-show-table a .fa:hover, #paged-pages-table  a .fa:hover,
#paged-show-table i.fa:hover, #paged-pages-table  i.fa:hover{
  color:#7d110c;
  text-decoration: none;
  background-color: #fff;
}

#paged-show-table tr, #paged-pages-table tr{
  vertical-align: top;
}

#paged-show-table th, #paged-pages-table th{
  width:10%
}

#paged-show-table tr:first-child td:first-child{
  width:60%;
  text-align:left;
}

#paged-pages-table .paged-pages-table-triple{
  width:30%;
}

#paged-pages-table tr.even{
  background-color: #E1D8B7
}

/*
 * Button styles
 */

.save_submit{
  background:image-url("buttons/save_button.png");
  background-size: 90px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 100px !important;
  color: transparent;
  text-decoration: none;
  border:none;
}

.move_button, .reorder_button{
  background-color: #44697D;
  border: 1px solid #000;
  border-radius: 15px;
  padding:5px;
  margin:5px;
}

.reorder_button{
  padding-left:20px;
  padding-right:20px;
}

/*
 * Custom File Upload
 */

.custom-upload {
    position: relative;
    height: 20px;
    width: 325px;
    display: inline-block
}

.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    /*filter:alpha(opacity:0);*/
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
   
    
}

.custom-upload .fake-file
{
    background: image-url("buttons/update_button.png") center right no-repeat;
    background-size: 90px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 325px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
}

.custom-upload .fake-file input
{
    font-size:14px;
    height:20px;
    line-height:20px;
    width:210px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding: 4px 6px;
    vertical-align: middle;
}

.custom-upload-small {
    position: relative;
    height: 20px;
    width: 225px;
    display: inline-block
}

.custom-upload-small input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    /*filter:alpha(opacity:0);*/
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
   
    
}

.custom-upload-small .fake-file
{
    background: image-url("buttons/update_button.png") center right no-repeat;
    background-size: 90px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 225px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
}

.custom-upload-small .fake-file input
{
    font-size:14px;
    height:20px;
    line-height:20px;
    width:110px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding: 4px 6px;
    vertical-align: middle;
}

