// Place all the styles related to the Pageds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sortable_pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
}

#sortable_pages li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
}

#sortable_pages li span {
  position: absolute;
  margin-left: -1.3em;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/*
 * Paged Show view
 */

div.pmp_paged_info{
  float:left;
}

div.pmp_paged_info ul{
  padding: 0;
  margin: 0 0 10px 0;
  list-style-type: none;
}

div.pmp_paged_info ul li{
  list-style: none;
  
}

/*
 * Paged Edit and Create forms
 * (should match styles for page forms)
 */

form#new_paged ol li,
form.edit_paged ol li,
form#add_page ol li{
  list-style: none;
}

form#new_paged label,
form.edit_paged label,
form#add_page label,
span.form_label{
  float: left;
  font-size: 13px;
  font-weight: bold;
  width: 175px;
}

form#new_paged input[type="file"],
form.edit_paged input[type="file"],
form#add_page input[type="file"]{
  height:inherit;
  line-height:inherit;
}

form#new_paged span.form_field,
form#add_page span.form_field,
form.edit_paged span.form_field{
  display:block;
  padding-bottom: 15px;
}

.paged_submit{
  padding-top:25px;
  padding-left:150px;
}

/*
 * Tables in paged show
 */

#paged-show-table, #paged-pages-table{
  width:100%;
  text-align:center;
}
#paged-show-table a .fa:hover, #paged-pages-table  a .fa:hover,
#paged-show-table i.fa:hover, #paged-pages-table  i.fa:hover{
  color:#7d110c;
  text-decoration: none;
  background-color: #fff;
}

#paged-show-table tr, #paged-pages-table tr{
  vertical-align: top;
}

#paged-show-table th, #paged-pages-table th{
  width:10%
}

#paged-show-table tr:first-child td:first-child{
  width:60%;
  text-align:left;
}

#paged-pages-table .paged-pages-table-triple{
  width:30%;
}

#paged-pages-table tr.even{
  background-color: #E1D8B7
}
