// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
 * Paged Edit and Create forms
 * (should match styles for paged forms)
 */

form#new_page ol li,
form.edit_page ol li{
  list-style: none;
}

form#new_page label,
form.edit_page label,
span.form_label{
  float: left;
  font-size: 13px;
  font-weight: bold;
  width: 175px;
}

form#new_page input[type="file"],
form.edit_page input[type="file"]{
  height:inherit;
  line-height:inherit;
}

form#new_page span.form_field,
form.edit_page span.form_field{
  display:block;
  padding-bottom: 15px;
}

.page_submit{
  padding-top:25px;
  padding-left:150px;
}

table.list_pages {
  //border-collapse: separate;
  //border-spacing: 3em 2px;
}

table.list_pages thead {
  text-align: left;
}

table.list_pages td,th {
  padding: 0 2em;
}

table.list_pages tr:nth-child(even) {
  background-color: #E1D8B7
}
