/* Styles specific to Paged Media Project */

/* Moves content below IU Branding */

#main-container{
  margin-top:50px;
}

/* User Header Links */
.pmp-util-links img{
  display: inline !important;
  padding:0 5px !important;
}


#user-wide{
  display:none;
}

/* Alternative site name */

#pmp-title{
  font-size: 24px;
  padding-top:15px;
  padding-bottom:15px;
}

#pmp-title a{
  padding-left:5px;
  color:#ffffff;
}

/* Adds responsiveness to header */

@media only screen and (min-width: 481px){
  .pmp-util-links img{
    padding:0 10px !important;
  }
}
@media only screen and (min-width: 768px){
  #pmp-title a{
    padding-left:75px;
    color:#ffffff;
  }
  #user-base{
    display:none;
  }
  #user-wide{
    display:inline;
  }
}


#pmp-title a:hover{
  text-decoration: none;
  background-color:#456978;
}

#pmp-navbar-inner{
  background-color:#45697B;
  background-image:none;
  border-bottom:5px solid #817870;
}

/* Aditional sidebar styles */

.pmp-sidenav h5{
  cursor:pointer;
}

.pmp-sidenav h5:hover{
  background-color:#e6e6e6;
}

.pmp-sidenav-links .icon-chevron {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.5;
    background-position: -456px -72px;
}

.pmp-sidenav-links h5:hover .icon-chevron{
  opacity:1;
}

.pmp-sidenav h5 a{
  text-decoration: none;
  color:inherit;
}

.pmp-sidenav h5:hover a{
  text-decoration: none;
  background-color:#e6e6e6;
}

.pmp-sidenav .btn-navbar .icon-bar {
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}

.pmp-sidenav .btn-navbar {
    background-color: #ededed;
    background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    color: white;
    display: none;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  .pmp-sidenav .btn-navbar {
    display: block;
  } 
  .pmp-collapse {
    clear: both;
    
    &.in {

    }

    &, &.collapse {
      overflow: hidden;
      height: 0;
    }

    &.collapse.in {
      height: auto !important;
    }
  }

  .no-js .pmp-collapse, .no-js .pmp-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

@media (min-width: 768px) {
  .pmp-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }

  .pmp-collapse-toggle {
    display: none;
  }
}