#pmp-sidenav h5{
  cursor:pointer;
}

#pmp-sidenav h5:hover{
  background-color:#e6e6e6;
}

.pmp-sidenav-links .icon-chevron {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.5;
    background-position: -456px -72px;
}

.pmp-sidenav-links h5:hover .icon-chevron{
  opacity:1;
}

#pmp-sidenav h5 a{
  text-decoration: none;
  color:inherit;
}

#pmp-sidenav h5:hover a{
  text-decoration: none;
  background-color:#e6e6e6;
}